 
 
img{/*이미지 크기 조정*/
  max-width:90%;
  width:400px;
  height:auto;
}
.grid-container { 
  list-style:none; 
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-gap: 60px; 
  padding: 100px;  
} 
.grid-container > li {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 30px;
  font-size: 30px;
} 
.grid-container > li > a {
  color:black;
  text-decoration: none;
}  
.restaurantName { 
  text-align: left; 
  padding-top: 10px;
  font-size: 30px;
  text-align: center;
}
 