link(rel="shortcut icon" href="#")
link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/all.min.css')
link(rel='stylesheet', href='/stylesheets/style.css')