doctype html 
html
  head    
    link(rel='stylesheet', href='/stylesheets/home.css') 
  body  
    .container 
      ul.grid-container 
        li 
          a(href="./restaurants/프랜차이즈")  
            img( src="/images/프랜차이즈.jpg")  
            .restaurantName 프랜차이즈   
        li 
          a(href="./restaurants/치킨")  
            img( src="/images/치킨.jpg")  
            .restaurantName 치킨  
        li 
          a(href="./restaurants/피자양식")  
            img( src="/images/피자.jpg")  
            .restaurantName 피자/양식   
        li 
          a(href="./restaurants/중국집")  
            img( src="/images/짜장면.jpg")  
            .restaurantName 중국집         
        li 
          a(href="./restaurants/한식")  
            img( src="/images/한식.jpg")  
            .restaurantName 한식  
        li 
          a(href="./restaurants/일식돈까스")  
            img( src="/images/돈까스.jpg")  
            .restaurantName 일식/돈까스     